<nav>
  <div class="container">
	<ul>
	  <li><%= link_to "Главная", root_path, :class => ('active' if current_page?(root_path)) %></li>
	  <li class="separator" />
	  <li><%= link_to "Услуги", '#' %></li>
	  <li class="separator" />
	  <li><%= link_to "Курсы", course_path, :class => ('active' if current_page?(course_path)) %></li>
      <li class="separator"></li>
	  <li><%= link_to "Магазин", '#' %></li>
	  <li class="separator" />
	  <li><%= link_to "Фотогалерея", '#' %></li>
	  <li class="separator" />
	  <li><%= link_to "Вакансии", '#' %></li>
	  <li class="separator" />
	  <li><%= link_to "Контакты", contact_path, :class => ('active' if current_page?(contact_path)) %></li>
	</ul>
  </div>
</nav>
