<!DOCTYPE html>
<html lang="ru">
<head>

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "layouts/head_meta" %>

</head>
<body>

<%= render "layouts/header" %>
<%= render "layouts/navbar" %>



<div class="container" id="content">
<%= yield %>
</div>

<%= render "layouts/footer" %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
